<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Grievance Portal
      {% endblock%}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/complaint_list.css' %}">
  </head>
  <body>
    <nav>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url 'index' %}">GRIEVANCE PORTAL</a></li>
            {% if user.is_authenticated %}
              <li><a class="navbar-link" href="{% url 'user_logout' %}">Logout</a></li>
            {% else %}
              <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
            {% endif %}
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
